.position-relative
    .triangle-builder-top
.container
    .row.builder-list 
        ul
            +builder  
.position-relative
    .rec
        img(src="/src/img/rec.svg", alt="")
.bul.d-flex.justify-content-end 
    .ka.ka1
        img(src="src/img/builder.png",class='builder' alt="")
    .ka.ka2
        img(src="src/img/builder1.png",class='builder' alt="")
.container    
    .application-box
        .sds
            .row.application-text
                .col-12.col-xl-6
                    p Хотите исключить вероятность <br>поломки оборудования? <br>Мы поможем вам в этом!
            .row.application
                .col-12.col-xl-6.line
                    .application-image
                        img(src="/src/img/name.png",class="name" alt="")
                    .application-name
                        form 
                            input.input-text(type="text" name="comment")
            .row.application.phone
                .col-12.col-xl-6.line
                    .application-image
                        img(src="/src/img/phone.png",class="name" alt="")
                    .application-name
                        form 
                            input(type="text" name="comment")
            .row
                .col-12.col-xl-6
                    button.btn.btn-build.btn-build-application.position-relative  
                        span(class = "position-absolute ") Отправить заявку
            .row.app    
                .col-12.col-xl-6
                    p.app Ваши контактные данные в безопасности и не будут переданы 3-им лицам