.rectangle-carousel
.container.carousel-container
    .row
        .col-12.col-md-6
            p.carousel-title Отзывы наших клиентов
    .row
        .col-12.col-md-9            
            p.carousel-text Ежегодно мы оказываем сервисные услуги более 100 организациям на территории РФ. Имея значительный опыт и знание особенностей оборудования, сертифицированные специалисты, выполняют полный комплекс услуг по контролю и сервисному обслуживанию систем увлажнения воздуха на объектах различного уровня сложности.
    .row.owl-row
        .col-6.col-sm-10.col-md-12  
            .footer-carousel
                .owl-carousel.owl-theme
                    +carousel-mixin