- 
    var ttt = ["fl1", "fl2", "fl3", "fl4", "fl5"]
-
.triangle-catalog-down
.container.catalog-skills
    .row
        .col-12.catalog-titel
            h3 Так же у нас вы можете приобрести <br> оригинальные запасные части <br> для увлажнителей CAREL
.zaebalsya
    .container
        .row.pluse
            .col-4.d-flex.price
                img(src="/src/img/price.png",  alt="")
                p Никзкие цены
            .col-4.d-flex.hadle
                img(src="/src/img/handle.png", alt="")
                p Всегда есть <br> в наличии
            .col-4.d-flex.car
                img(src="/src/img/car.png", alt="")
                p Быстрая доставка
        .row
            .col-12.col-md-10.col-lg-10.lal
                p Каталог увлажнителей  
    .rectangle-catalog
.figure-box
    .triangle-carousel
.container
        .row.catalog-box.flex-row
            .col-12
                +catalog-top-nav
                .tab-content.top-tab-content.col-12(id="main-nav-tabContent")  
                    .tab-pane.tab-1.fade.active.show(id="main-1" role="tabpanel" aria-labelledby="main-1-tab")  
                        .catalog-line
                        .row
                            .col-3
                                .row.nav.nav-catalog.flex-column(role="tablist")  
                                    +catalog-left-nav_1
                            .col-9        
                                .tab-content.catalog-tab-content(id="left-nav-tabContent")
                                    - for (var y = 0; y < ttt.length; y++)
                                        if y === 0
                                            .tab-pane.fade.active.show(role = "tabpanel" id=`left-${y+1}` )
                                                +sosna(ttt[y])
                                        else
                                            .tab-pane.fade(role = "tabpanel" id=`left-${y+1}` )
                                                +sosna(ttt[y])
                                        
                    .tab-pane.tab-2.fade(id="main-2" role="tabpanel" aria-labelledby="main-2-tab")
                        .catalog-line
                        .row    
                            .col-3  
                                .row.nav.nav-catalog.flex-column(role="tablist")
                                    +catalog-left-nav_2
                            .col-9        
                                .tab-content.catalog-tab-content(id="left-nav-tabContent")
                                    - for (var y = 0; y < ttt.length; y++)
                                        if y === 0
                                            .tab-pane.fade.active.show(role = "tabpanel" id=`left-${y+1}` )
                                                +sosna(ttt[y])
                                        else
                                            .tab-pane.fade(role = "tabpanel" id=`left-${y+1}` )
                                                +sosna(ttt[y])
                                    
                    .tab-pane.tab-3.fade(id="main-3" role="tabpanel" aria-labelledby="main-3-tab") 
                        .catalog-line 
                        .row    
                            .col-3  
                                .row.nav.nav-catalog.flex-column(role="tablist")
                                    +catalog-left-nav_3
                            .col-9        
                                .tab-content.catalog-tab-content(id="left-nav-tabContent")
                                    - for (var y = 0; y < ttt.length; y++)
                                        if y === 0
                                            .tab-pane.fade.active.show(role = "tabpanel" id=`left-${y+1}` )
                                                +sosna(ttt[y])
                                        else
                                            .tab-pane.fade(role = "tabpanel" id=`left-${y+1}` )
                                                +sosna(ttt[y])
            include modal.pug   