img(src="/src/img/mg.png", alt="", class="img-footer")
img(src="/src/img/md.png", alt="", class="back1200")
.inner
    img(src="/src/img/toTop.png", class="stickey" alt="ToTop", id="toTop")
.container.normaly
    .application-box
        .sds
            .row.application-text
                .col-12.col-xl-6
                    p Если у вас остлись вопросы, <br>мы с удовольствием на них <br>ответим
            .row.application
                .col-12.col-xl-6.line
                    .application-image
                        img(src="/src/img/name.png",class="name" alt="")
                    .application-name
                        form 
                            input.input-text(type="text" name="comment")
            .row.application.phone
                .col-12.col-xl-6.line
                    .application-image
                        img(src="/src/img/phone.png",class="name" alt="")
                    .application-name
                        form 
                            input(type="text" name="comment")
            .row
                .col-12.col-xl-6
                    button.btn.btn-build.btn-build-application.position-relative  
                        span(class = "position-absolute ") Отправить заявку
            .row.app    
                .col-12.col-xl-6
                    p.app Ваши контактные данные в безопасности и не будут переданы 3-им лицам
        .container.bottom
            .footer-info
                .row.invisible-footer
                    .col-12.col-xl-1.d-flex.flex-nowrap
                        p.footer-dev Разработано 
                        img(src="/src/img/footer-logo.png", alt="", class="footer-img")
                    .col-12.col-xl-2
                        p.maven MAVEN RU  
                .row.invisible-footer
                    .col-12.col-xl-3.footer-end
                        p.footer-date © 2019 CAREL. Все права защищены
                .row.invisible-footer
                    .col-12.col-xl-3
                        p.footer-date Политика конфиденциальности 
                .row.bottom_1200
                    .col-12 
                        p Разработано MAVEN RU  © 2019 CAREL.
                    .col-12
                        p  Все права защищены политикой конфиденциальности.