header
    img(src="src/img/Group.png", class='rain-box' alt="")
    .container
        .triangle-header-down
        .row.flex-column.flex-lg-row.justify-content-lg-between.justify-content-center.top-info
            .col-6.col-md-4
                img(src="src/img/Logo123.svg", class=' header-logo' alt="Logo")
            .col-6.d-flex.justify-content-center.col-lg-4.call
                p.number +7(965)390-46-99
                p.call-text Обратный звонок
        .row.header-info.header-titel
            img(src="src/img/header-image.png", class='col-7 header-image' alt="")
            .col-7.header-left-image
            .col-12.col-md-9.col-lg-5.header-content
                h2 Увлажнитель CAREL
                ul.header-list
                    .tochka  
                        .class1
                            img(src="/src/img/Marker.png", alt="")
                        .class2 Сервисное обслуживание
                    .tochka  
                        .class1
                            img(src="/src/img/Marker.png", alt="")
                        .class2 Монтаж 
                    .tochka  
                        .class1
                            img(src="/src/img/Marker.png", alt="")
                        .class2 Оригинальные запасные части
        .row.d-flex-row.button_row 
            .col-8.header-left-image
            .col-10.col-sm-8.col-md-6.col-lg-4.btn-header
                button.btn.btn-head.position-relative  
                    span(class = "position-absolute ") Выбрать товар
    .rectangle-header