doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet", type="text/css", href="jquery.fancybox.min.css")
        link(rel="stylesheet", href="style.css")
        title Carel
    body
        .wrapper
            include mixin.pug
            include header.pug
            main
                section.govno
                    include services.pug
                section
                    include builder.pug
                section.catalog
                    include catalog.pug
                section
                    include carousel.pug
                section.end
                    include footer.pug
   
        script(src="main.js")

