
-
    var list = [
        {name: "Центы обработки данных (ЦОД)"},
        {name: "Текстильное/пищевое/фармацевтическое производство"},
        {name: "Компьютерные залы и станции связи"},
        {name: "Оранжереи"},
        {name: "«Чистые» помещения"},
        {name: "Холодильные камеры и др."}
        ]
-
    var top_nav = [
        {href: "#main-1", text: "Изотермические увлажнители"},
        {href: "#main-2", text: "Адиабатические увлажнители " },
        {href: "#main-3", text: "Испарительное охлаждение "}
    ]

-
     var left_nav =[ 
        {href: "#left-1", text: "Увлажнители с погружными электродами UE* humiSteam"},
        {href: "#left-2", text: "Увлажнители с погружными электродами UER* thermoSteam"},
        {href: "#left-3", text: "Увлажнители с погружными электродами CH* compactSteam"},
        {href: "#left-4", text: "Увлажнители с электронагревателями UR*4 heaterSteam "},
        {href: "#left-5", text: "Газовые влажнители UG* gaSteam"}
    ]      
-
    var left_nav_content =[
        {id: "left-1", aria: "left-1-tab" },
        {id: "left-2", aria: "left-2-tab", text: "22"},
        {id: "left-3", aria: "left-3-tab", text: "33"},
        {id: "left-4", aria: "left-4-tab", text: "44"},
        {id: "left-5", aria: "left-5-tab", text: "55"}
    ]

-
    var box_catalog = {
        ue: {  
            titel: "Увлажнители с погружными электродами UE* humiSteam", 
            label: "humiSteam", 
            note: "Увлажнители с погружными электродами", 
            section: "UE", 
            text: "humiSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Общая производительность серии от 1,5 до 130 кг/ч."    
            },
        uer: {
            titel: "Увлажнители с погружными электродами UER* thermoSteam", 
            label: "thermoSteam", 
            note: "Увлажнители с погружными электродами", 
            section: "UER", 
            text: "thermoSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Общая производительность серии от 1,5 до 130 кг/ч."    
        },
        ch: {
            titel: "Увлажнителис погружными электродами CH* compactSteam", 
            label: "compactSteam", 
            note: "Увлажнители с погружными электродами", 
            section: "CH", 
            text: "thermoSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Общая производительность серии от 1,5 до 130 кг/ч."    
        },
        ur4: {
            titel: "Увлажнители с электронагревателями UR*4 heaterSteam", 
            label: "heaterSteam", 
            note: "Увлажнители с погружными электродами", 
            section: "UR*4", 
            text: "heaterSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Общая производительность серии от 1,5 до 130 кг/ч."    
        },
        ug: {
            titel: "Газовые влажнители UG* gaSteam", 
            label: "gaSteam", 
            note: "Увлажнители с погружными электродами", 
            section: "UG", 
            text: "gaSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Общая производительность серии от 1,5 до 130 кг/ч."    
        }
    }
        

- 
    var firstrenderpoint = {
        fl1 : {
            pointer: "ue"
        },
          fl2 : {
            pointer: "uer"
        },
          fl3 : {
            pointer: "ch"
        },
          fl4 : {
            pointer: "ur4"
        },
          fl5 : {
            pointer: "ug"
        },
    }
    

-
    var bot_nav =[
        {href: "#main-1.1", text: "UE Basic"},
        {href: "#main-2.1", text: "UE X-plus" },
        {href: "#main-3.1", text: "UE Wellness"}
    ]

-
    var item_1_1 =[
        {href: "#main-1.1", img: "/src/img/item.png", name: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", price_ru: "63 718 руб.", price_eu: "904 €"},
        {href: "#main-1.1", img: "/src/img/item.png", name: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", price_ru: "63 718 руб.", price_eu: "904 €"},
        {href: "#main-1.1", img: "/src/img/item.png", name: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", price_ru: "63 718 руб.", price_eu: "904 €"},
        {href: "#main-1.1", img: "/src/img/item.png", name: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", price_ru: "63 718 руб.", price_eu: "904 €"},
        {href: "#main-1.1", img: "/src/img/item.png", name: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", price_ru: "63 718 руб.", price_eu: "904 €"},
        {href: "#main-1.1", img: "/src/img/item.png", name: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", price_ru: "63 718 руб.", price_eu: "904 €"},
        {href: "#main-1.1", img: "/src/img/item.png", name: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", price_ru: "63 718 руб.", price_eu: "904 €"},
        {href: "#main-1.1", img: "/src/img/item.png", name: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", price_ru: "63 718 руб.", price_eu: "904 €"},
        {href: "#main-1.1", img: "/src/img/item.png", name: "UE001YD001", text: "Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр", price_ru: "63 718 руб.", price_eu: "904 €"}
    ]
    
-
    var Info1 = [
        {name: "Бренд"},
        {name: "Номинальная производительность"},
        {name: "Макс. потребляемая мощность"},
        {name: "Параметры электропитания"},
        {name: "Присоединение линии пара"},
        {name: "Количество цилиндров"},
        {name: "Размеры оборудования (ВхШхГ)"},
        {name: "Размеры упаковки (ВхШхГ)"},
        {name: "Вес НЕТТО"},
        {name: "Вес БРУТТО"},
        ]
-
    var Info2 = [
        {name: "Carel"},
        {name: "1,5 кг/ч"},
        {name: "1,12 кВт"},
        {name: "1~, 220В"},
        {name: "Ø 22/30 мм"},
        {name: "1"},
        {name: "712х365х275 мм"},
        {name: "850х500х400 мм"},
        {name: "13,5 кг"},
        {name: "16 кг"},
        ]
-
    var gallery =[ 
        {href: "/src/img/slava.jpg", caption: "Caption#1", img: "/src/img/slava.jpg"},
        {href: "/src/img/roman.jpg", caption: "Caption#2", img: "/src/img/roman.jpg"},
        {href: "/src/img/bandos.jpg", caption: "Caption#3", img: "/src/img/bandos.jpg"},
        {href: "/src/img/slava.jpg", caption: "Caption#1", img: "/src/img/slava.jpg"},
        {href: "/src/img/roman.jpg", caption: "Caption#2", img: "/src/img/roman.jpg"},
        {href: "/src/img/bandos.jpg", caption: "Caption#3", img: "/src/img/bandos.jpg"}
        
    ]

-

mixin builder
    for inner in list
        li= inner.name

mixin catalog-top-nav
    .nav.nav-pills.point-nav.adap_tive.flex-column.flex-sm-row(id="main-nav" role="tablist" aria-orientation="horizontal")
        - for (var x=0; x<top_nav.length; x++)
            if x===0
                 a(class = "nav-catalog-link active " data-toggle="pill" href=top_nav[x].href role="tab")
                    span=top_nav[x].text 
            else 
                 a(class= "nav-catalog-link" data-toggle="pill" href=top_nav[x].href role="tab")
                    span= top_nav[x].text 
        
                                
mixin catalog-left-nav_1
    .row.nav.nav-catalog.catalog-left-nav.flex-column(id="left-nav-1" role="tablist" )
          - for (var x=0; x<left_nav.length; x++)
            if x===0
                a(class="nav-catalog-left left-nav-margin active" data-toggle="pill" href=left_nav[x].href  role="tab")= left_nav[x].text
                    .rectangle-nav 
            else        
                a(class="nav-catalog-left " data-toggle="pill" href=left_nav[x].href role="tab")= left_nav[x].text
                    .rectangle-nav 

mixin catalog-left-nav_2
    .row.nav.nav-catalog.catalog-left-nav.flex-column(id="left-nav-2" role="tablist" )
          - for (var x=0; x<3; x++)
            if x===0
                a(class="nav-catalog-left left-nav-margin active" data-toggle="pill" href=left_nav[x].href  role="tab")= left_nav[x].text
                    .rectangle-nav 
            else        
                a(class="nav-catalog-left " data-toggle="pill" href=left_nav[x].href role="tab")= left_nav[x].text
                    .rectangle-nav   

mixin catalog-left-nav_3
    .row.nav.nav-catalog.catalog-left-nav.flex-column(id="left-nav-3" role="tablist" )
          - for (var x=0; x<1; x++)
            if x===0
                a(class="nav-catalog-left left-nav-margin active" data-toggle="pill" href=left_nav[x].href  role="tab")= left_nav[x].text
                    .rectangle-nav 
            else        
                a(class="nav-catalog-left " data-toggle="pill" href=left_nav[x].href role="tab")= left_nav[x].text
                    .rectangle-nav        

mixin catalog-left-content
    - for (var x=0; x<left_nav_content.length; x++)
        if x===0
            a(class="tab-pane fade active show" id=left_nav_content[x].id role="tabpanel" aria-labelledby=left_nav_content[x].aria ) 
            
        else        
            a(class="tab-pane fade " id=left_nav_content[x].id role="tabpanel" aria-labelledby=left_nav_content[x].aria )= left_nav_content[x].text 

mixin catalog-1-1 (popa)
        .row.content-catalog
            .col-8
                .titel-box-catalog
                    p=box_catalog[popa].titel
                .label-catalog
                    p=box_catalog[popa].label 
                .label-note-catalog
                    p=box_catalog[popa].note
            .col-4
                .section-catalog
                    p=box_catalog[popa].section     
            .col-12
                .text-catalog
                    p=box_catalog[popa].text
                .model-catalog
                    p Выберите модель:
        +catalog-bot-nav
    
mixin catalog-bot-nav
    .nav.nav-pills.not-point-nav(id="main-nav" role="tablist" aria-orientation="horizontal")
        - for (var x=0; x<bot_nav.length; x++)
            if x===0
                a(class = "bottom-catalog-link active " data-toggle="pill" href=bot_nav[x].href role="tab")
                    span=bot_nav[x].text      
            else 
                a(class= "bottom-catalog-link" data-toggle="pill" href=bot_nav[x].href role="tab")
                    span= bot_nav[x].text
    +product
-
    var i = 10 + $product
-
mixin product
    -var i=10
    .row.product.flex-column(id="product-content-1.1" role="tablist" )
        .col-12
            p.text-titel="«Basic» (UE*Y) Самый простой вариант для решения любых задач по увлажнению воздуха паром. Представлен моделями производительностью от 1 до 65 кг/ч, комплектуется стандартным электронным контроллером (Y) и дисплеем. "
        - for (var x=0; x<item_1_1.length; x++)
            .row
                - for (var x=x; x<item_1_1.length; x++)
                    if x<3
                        .col-6.col-md-4.item
                            img(src=item_1_1[x].img class="item-img" alt="")
                            p.name=item_1_1[x].name 
                            p.text=item_1_1[x].text
                            .row.product-inf
                                .col-12.col-lg-5.item-price.d-flex.d-md-block.flex-column
                                    p.price-ru=item_1_1[x].price_ru 
                                    p.price-eu=item_1_1[x].price_eu
                                .col-12.col-lg-5.kasha
                                    button(type="button" class="item-btn btn btn-primary" data-toggle="modal" data-target="#exampleModal")
                                        span Подробнее
                    else 
                        .col-6.col-md-4.item.min_screen
                            img(src=item_1_1[x].img class="item-img" alt="")
                            p.name=item_1_1[x].name 
                            p.text=item_1_1[x].text
                            .row.product-inf
                                .col-12.col-lg-5.item-price.d-flex.d-md-block.flex-column
                                    p.price-ru=item_1_1[x].price_ru 
                                    p.price-eu=item_1_1[x].price_eu
                                .col-12.col-lg-5.kasha
                                    button(type="button" class="item-btn btn btn-primary" data-toggle="modal" data-target="#exampleModal")
                                        span Подробнее
                                

mixin sosna (vetka)
    +catalog-1-1(firstrenderpoint[vetka].pointer)
    

mixin CollapseInfo1
    for inner in Info1
        p=inner.name

mixin CollapseInfo2
    for inner in Info2
        p=inner.name

mixin Documents
    p.text-doc1 CAREL | Руководство по эксплуатации <br>| Увлажнители воздуха humiSteam <br> Basic | RU
    p.download-doc1 (PDF, 5.66 МБ)
    p.text-doc2 CAREL | Сертификат соответствия | <br> Увлажнители воздуха humiSteam UE | <br> 17.09.2020
    p.download-doc2 (PDF, 795.55 КБ)

mixin Description
    p В основе работы увлажнителей с погружными электродами лежит простой физический закон. Обычная питьевая вода содержит некоторое количество растворенных минеральных солей, а значит, имеет определенную электропроводность. Если подать напряжение на погруженные в воду электроды, получится электрический ток, который нагревает воду до кипения (эффект Джоуля), и в процессе кипения выделяется пар.
    p humiSteam - это универсальные увлажнители, пригодные для решения широкого круга задач по увлажнению воздуха от обычных жилых домов до производственных помещений и даже саун. Воздух может увлажняться непосредственно в помещении при помощи вентиляторного парораспределителя или в системе воздуховодов при помощи высокоэффективных линейных парораспределителей. Увлажнители humiSteam работают на водопроводной воде.
    p Есть следующие разновидности «электродных» увлажнителей HumiSteam:<br>– Basic, самый простой вариант для решения любых задач по увлажнению воздуха паром. В основном используется в связке с другим увлажнителем HumiSteam типа X-Plus по принципу Ведущий/Ведомый;<br>– X-Plus, мощный увлажнитель с погружными электродами. Комплектуется встроенным контроллером типа «X» серии pCO, жидкокристаллическим дисплеем и кнопками для управления и настройки параметров;<br>– Wellness, специальный вариант парового увлажнения воздуха для саун. Имея принцип работы, как у модели «Xplus», увлажнитель humiSteam Wellness поддерживает встроенные функции управления специально для саун.


mixin carousel-mixin
    - for (var x=0; x<6; x++)
        a(href=gallery[x].href data-fancybox="gallery" data-caption=gallery[x].caption)
            img(src=gallery[x].img)
