.modal.fade(id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog.modal-xl
        .modal-content
            .modal-body
                .col-12
                    .row
                        .col-4.modal-image 
                            img(src="/src/img/modal.png" class="modal-img")
                        .col-6.modal-right
                            .d-flex.justify-content-end.close-box
                                p.close-text Закрыть
                                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                            .row.modal-image-885
                                img(src="/src/img/modal.png" class="modal-img")
                            p.titel-modal UE001YD001 Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч
                            p.note-title Описание
                            p.note-text UE001YD001 Паровой увлажнитель CAREL humiSteam Basic 1,5 кг/ч, 1x230В, неразборный цилиндр
                            p.Description Description
                            p.Description-text humiSteam Basic 1.5 kg/h, 230 V single phase, ON/OFF or proportional, disposable cylinder
                            .row.modal-all-info
                                .col-5.art-box
                                    p.art Арт. UE001YD001

                                .col-7.d-flex.justify-content.or_der
                                    .col-5.col-xl-3.order-box
                                        p.order Под заказ
                                    .col-7.col-xl-6.order-box
                                        p.guarantee Гарантия 24 месяца
                            .row.price-box
                                .col-7.d-flex.justify-content.price-modal  
                                    .money 
                                        p.price-ru-modal 66 021 руб.
                                    .money
                                        p.price-eu-modal (€ 904 )
                            .row.modal-two-button
                                .col-8.col-sm-5
                                    .row.btn-groupe
                                        button.btn.modal-button-kol.position-relative 
                                            span(class = "position-absolute ") -
                                        button.btn.modal-button-kol.position-relative.btn-center
                                            span(class = "position-absolute ") 1
                                        button.btn.modal-button-kol.position-relative 
                                            span(class = "position-absolute ") +
                                                    
                                .col-8.col-sm-7.modal-btn-two     
                                    button.btn.modal-button-buy.position-relative 
                                        span(class = "position-absolute ") Заказать       
                .collapse-box.collapse-one
                    .col-12.collapse-flex
                        .row
                            .col-4
                                a.btn.arrow1.title-collapse(data-toggle="collapse" href="#collapseDoc" role="button" aria-expanded="false" aria-controls="collapseExample") Документация
                                .collapse(id="collapseDoc")
                                    .card.card-body.Documents
                                        +Documents
                            .col-6.top-mar.invis
                                a.btn.arrow2.title-collapse(data-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="collapseExample") Характеристики
                                .collapse(id="collapseInfo")
                                    .card.card-body.haracteristics_collapse
                                        .row
                                            .col-8.col-first
                                                +CollapseInfo1
                                            .col-4.col-two           
                                                +CollapseInfo2
                    .col-12.collapse-flex
                        .row
                            .col-10
                                a.btn.arrow3.title-collapse(data-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="false" aria-controls="collapseExample") Описание 
                                .collapse(id="collapseDescription")
                                    .card.card-body.Description
                                        +Description
                .collapse-box.collapse-two
                    .col-12
                        .row.collapse-flex
                            .col-12
                                .full
                                    a.btn.arrow1.title-collapse(data-toggle="collapse" href="#collapseDoc" role="button" aria-expanded="false" aria-controls="collapseExample") Документация
                                .collapse(id="collapseDoc")
                                    .card.card-body.Documents
                                        +Documents
                    .col-12
                        .row.collapse-flex
                            .col-12.top-mar
                                .full
                                    a.btn.arrow2.title-collapse(data-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="collapseExample") Характеристики
                                .collapse(id="collapseInfo")
                                    .card.card-body.haracteristics
                                        .row
                                            .col-8.col-sm-7.col-xs-6.col-first
                                                +CollapseInfo1
                                            .col-4.col-sm-5.col-xs-6.col-two           
                                                +CollapseInfo2
                    .col-12
                        .row.collapse-flex
                            .col-12
                                .full
                                    a.btn.arrow3.title-collapse(data-toggle="collapse" href="#collapseDescription" role="button" aria-expanded="false" aria-controls="collapseExample") Описание 
                                .collapse(id="collapseDescription")
                                    .card.card-body.Description
                                        +Description
