
.triangle-services-right
.container.services
    .row
        .col-12.col-md-8 
            h2 Сервисынй центр
            p Увлажнители воздуха Carel — это синоним качественной и надежной техники, способной прослужить на объектах различного назначения долгие годы.
    .row.d-flex.justify-content-center.d-flex.flex-colum.warning
        .col-12.col-lg-8
            h2 3 важных составляющих
            p  длительной эксплуатации высокотехнологичного оборудования и сохранения его первоначальных свойств:
.rectangle-skills
.container.services
    .row.skills   
        .col-4.warning-row.one
            img(src="src/img/1.png", alt="")
            .ser-text    
                p Качественная <br>техника
        .col-4.warning-row.two
            img(src="src/img/2.png", alt="")
            .ser-text
                p Постоянный надзор специалистов сервисной службы
        .col-4.warning-row.three
            img(src="src/img/3.png", alt="")
            .ser-text
                p Регулярное проведение профилактических работ
    .row
        .col-12.col-md-9.col-lg-7.services-text
            p Своевременное сервисное обслуживание исключает вероятность поломки оборудования и выхода из строя всей системы увлажнения, что  абсолютно недопустимо в условиях объектов специального назначения, таких как:
    