.builder-list {
  margin: 190px 0 0 70px;
  position: absolute;
  ul {
    text-align: left;
    margin-left: 60px;
    list-style-image: url(/src/img/Marker.png);
    li {
      line-height: 60px;
      font-size: 22px;
    }
  }
}

.application-text {
  color: white;
  p {
    font-size: 30px;
    line-height: 44px;
    font-family: "circe-bold";
  }
}

.application {
  color: white;

  .line {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    height: 35px;
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 80%;
      background-color: white;
      bottom: 0px;
    }
    input {
      border: none;
      outline: none;
      color: white;
      background-color: red;
      max-width: 100%;
      margin-top: 7px;
    }

    .application-name {
      margin-left: 20px;
      line-height: 20px;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
    }
  }
}

.phone {
  margin-top: 31px;
}

.btn-application {
  span {
    margin-top: 10px;
  }
}

.app {
  font-family: "circe";
  color: white;
  font-size: 15px;
  line-height: 21px;
  margin: 4px 0 0 -13px;
}

.ka2 {
  display: none;
}

.rec {
  position: absolute;
  top: 556px;
}
