.carousel-container {
  margin-top: -748px;
}

.carousel {
  margin-top: 55px;
}

.img-one {
  margin-left: 0px;
}

.carousel-control-next-icon {
  background-image: url(/src/img/next.svg);
  margin-right: -140px;
}

.carousel-control-prev-icon {
  background-image: url(/src/img/prev.svg);
  margin-left: -140px;
}

.carousel-title {
  margin-top: 0;
  font-family: "circe-extrabold";
  font-size: 48px;
  line-height: 74px;
  text-align: left;
  color: red;
}

.carousel-text {
  margin-top: 31px;
  font-size: 21px;
  line-height: 32px;
  text-align: left;
  color: black;
}

.figure-box {
  position: relative;
}

.owl-carousel {
  .owl-item {
    img {
      width: 170px;
      height: 230px;
    }
  }
  .owl-dots {
    display: none;
  }
}
.owl-theme .owl-nav {
  position: relative;
  margin-top: -133px;
  width: 1095px;
  display: block !important;
  .owl-prev {
    position: absolute;
    left: 0px;
    &:focus {
      outline: none;
    }
  }
  .owl-next {
    position: absolute;
    right: 0px;
    &:focus {
      outline: none;
    }
  }
}
.owl-stage-outer {
  z-index: -1;
}
