$product: 2;
.dj {
  display: none;
}

.catalog-skills {
  padding-top: 400px;
}

.ddd {
  position: absolute;
}

.zaebalsya {
  position: relative;
  height: 450px;
}

.pluse {
  margin-top: 50px;
}
.catalog-titel {
  h3 {
    font-family: "circe-bold";
    font-size: 42px;
    line-height: 67px;
    text-align: center;
    color: red;
  }
}

.price {
  padding-left: -0px;
  top: 111px;
  img {
    margin-top: -11px;
    width: 56px;
    height: 56px;
  }
  p {
    margin-left: 15px;
    font-family: "circe-bold";
  }
}

.hadle {
  top: 164px;
  padding-left: 47px;
  img {
    width: 53px;
    height: 56px;
  }
  p {
    margin-left: 15px;
    font-family: "circe-bold";
    line-height: 33px;
  }
}

.car {
  top: 228px;
  img {
    width: 57px;
    height: 36px;
  }
  p {
    margin-left: 15px;
    font-family: "circe-bold";
  }
}

.catalog-titel {
  margin-top: 127px;
  P {
    font-size: 50px;
    font-family: "circe-extrabold";
    line-height: 60px;
    color: red;
  }
}

.catalog-nav {
  margin-top: 90px;
}

#main-nav {
  :nth-child(2n) {
    margin: 0 15px;
  }
}

.nav-catalog-link {
  font-family: "circe-bold";
  font-size: 22px;
  line-height: 24px;
  background-color: #ffe8e8;
  width: 32%;
  height: 80px;
  border-radius: 2px;
  transform: skew(-20deg, 0);
  display: flex;
  justify-content: center;
  text-align: center;
  span {
    color: red;
    margin: auto;
    transform: skew(20deg, 0);
  }
}
.point-nav {
  .active {
    position: relative;
    background-color: red;
    span {
      position: relative;
      color: white;
      margin: auto;
    }
    &::after {
      content: "";
      position: absolute;
      margin-left: 5%;
      border-top: 22px solid red;
      border-left: 21px solid transparent;
      border-right: 21px solid transparent;
      bottom: -21px;
      transform: skew(20deg, 0);
    }
  }
  a {
    text-decoration: none;
  }
}
.catalog-box {
  position: relative;
  margin-top: 100px;
}

.catalog-line {
  position: absolute;
  border-left: 2px solid red;
  height: 604px;
  margin-left: -15px;
}
#main-nav .catalog-line:nth-child(1n) {
  margin: 173px 0 0 0;
}
.tab-2 .catalog-line {
  height: 385px;
}
.tab-3 .catalog-line {
  height: 141px;
}
.top-tab-content {
  margin-top: 100px;
}

.catalog-left-nav {
  position: relative;
  font-size: 22px;
  line-height: 28px;
  margin-left: 21px;

  a {
    color: black;
    text-decoration: none;
  }
  .active {
    .rectangle-nav {
      position: absolute;
      border-left: 19px solid red;
      height: 20px;
      margin: -51px 0 0 -30px;
      transform: skew(-20deg, 0);
      border-radius: 4px;
    }
  }
}

.left-nav-margin {
  margin-top: 20px !important;
}

.nav-catalog-left {
  height: 120px;
}

.catalog-tab-content {
  margin: 17px 0 0 40px;
}

.content-catalog {
  .titel-box-catalog {
    p {
      font-size: 36px;
      line-height: 40px;
      font-family: "circe-bold";
    }
  }
  .label {
    &-catalog {
      P {
        font-size: 30px;
        line-height: 44px;
      }
    }
    &-note-catalog {
      margin-top: -25px;
      P {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  .section-catalog {
    margin-left: -10px;
    p {
      font-size: 110px;
      line-height: 162px;
      text-align: end;
      color: red;
    }
  }

  .text-catalog {
    p {
      font-size: 18px;
      line-height: 26px;
    }
  }

  .model-catalog {
    p {
      font-size: 22px;
      line-height: 32px;
      font-family: "circe-bold";
    }
  }
}

.bottom-catalog-link {
  font-family: "circe-bold";
  font-size: 22px;
  line-height: 24px;
  background-color: #ffe8e8;
  width: 236px;
  height: 56px;
  border-radius: 2px;
  transform: skew(-20deg, 0);
  display: flex;
  justify-content: center;
  text-align: center;
  span {
    color: red;
    margin: auto;
    transform: skew(20deg, 0);
  }
}

.not-point-nav {
  margin-left: 12px;
  .active {
    position: relative;
    background-color: red;
    span {
      position: relative;
      color: white;
      margin: auto;
    }
  }
}

.product {
  .item {
    &-img {
      margin-left: 42px;
    }
    &-price {
      padding: 0px;
    }
  }
  .kasha {
    padding-left: 0px;
  }

  .text-titel {
    margin-top: 36px;
    font-size: 18px;
    line-height: 26px;
  }
  .name {
    font-family: "circe-bold";
    font-size: 18px;
    line-height: 26px;
  }

  .text {
    font-size: 16px;
    line-height: 22px;
  }

  .price-ru {
    font-family: "circe-bold";
    font-size: 18px;
    line-height: 26px;
  }

  .price-eu {
    font-size: 14px;
    line-height: 20px;
    margin-top: -21px;
    p {
      color: #adadad;
    }
  }
  .item {
    margin-top: 25px;
    &:hover {
      background: #ffffff;
      box-shadow: 2px 10px 30px rgba(255, 0, 0, 0.3);
      border-radius: 10px;
    }
  }
}

.item-btn {
  font-family: "circe";
  font-size: 16px;
  line-height: 24px;
  width: 130px;
  height: 40px;
  transform: skew(-20deg, 0);
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  border: 1px solid #ff0000;
  box-sizing: border-box;
  border-radius: 4px;
  color: -internal-light-dark(red, white);
  span {
    color: red;
    margin: auto;
    transform: skew(20deg, 0);
  }
  &:focus {
    background: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 4px;
    span {
      color: white;
      margin: auto;
      transform: skew(20deg, 0);
    }
  }
}

.product-inf {
  margin-left: 0;
  button {
    &:focus {
      outline: red;
    }
  }
}

.btn-primary:hover {
  color: #fff;
  background-color: red;
  box-shadow: none;
  border-color: red;
  span {
    color: white;
    margin: auto;
    transform: skew(20deg, 0);
  }
}

.btn-primary:focus {
  color: #fff;
  background-color: red;
  box-shadow: none;
  span {
    color: white;
    margin: auto;
    transform: skew(20deg, 0);
  }
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: red;
  border-color: red;
  span {
    color: white;
    margin: auto;
    transform: skew(20deg, 0);
  }
}

.lal {
  margin-top: 314px;
  padding-left: 0px;
  p {
    font-family: "circe-extrabold";
    font-size: 49px;
    line-height: 67px;
    text-align: center;
    color: red;
  }
}
