.triangle {
  &-header-down {
    position: absolute;
    left: 0px;
    top: 0px;
    border-right: 300px solid transparent;
    border-top: 653px solid red;
  }

  &-services-right {
    top: 680px;
    border-top: 296px solid transparent;
    border-bottom: 338px solid transparent;
    border-left: 1650px solid #ebebeb;
  }

  &-builder-top {
    margin-top: 150px;
    right: 0px;
    position: absolute;
    border-right: 661px solid #e0e0e0;
    border-top: 1468px solid transparent;
    border-bottom: 127px solid transparent;
    z-index: 1;
  }
  &-catalog-down {
    position: absolute;
    left: 0px;
    margin-top: 0;
    z-index: -5;
    border-right: 500px solid transparent;
    border-top: 1165px solid #e0e0e0;
  }
  &-carousel {
    top: 1500px;
    z-index: -5;
    position: absolute;
    height: 650px;
    width: 299px;
    right: 0px;
    border-left: 380px solid transparent;
    border-bottom: 950px solid red;
  }
}

.rectangle {
  &-header {
    width: 103%;
    margin-left: -24px;
    height: 76px;
    margin-top: 83px;
    background-color: red;
    transform: rotate(10deg);
  }
  &-skills {
    width: 106%;
    margin-left: -43px;
    margin-top: 155px;
    height: 308px;
    background-color: red;
    transform: rotate(10deg);
  }

  &-builder {
    width: 113%;
    margin-left: -96px;
    height: 815px;
    margin-top: -174px;
    background-color: red;
    transform: rotate(11deg);
  }

  &-catalog {
    width: 113%;
    margin-left: -96px;
    height: 170px;
    position: absolute;
    z-index: -3;
    top: 130px;
    background-color: #ebebeb;
    transform: rotate(9deg);
  }

  &-carousel {
    width: 130%;
    margin-left: -151px;
    margin-top: 157px;
    height: 810px;
    background-color: #ebebeb;
    transform: rotate(11deg);
  }
}
.rain-box {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -10;
}

.builder {
  z-index: -1;
  margin-top: -136px;
}
