.wrapper {
  overflow: hidden;
}

header {
  position: relative;
}

h2 {
  font-size: 50px;
  color: red;
  line-height: 50px;
}

p {
  font-size: 24px;
  line-height: 38px;
  font-family: "Circe";
}

.btn-head {
  font-family: "circe-bold";
  font-size: 22px;
  line-height: 24px;
  color: white;
  background-color: red;
  width: 100%;
  height: 74px;
  border-radius: 4px;
  transform: skew(-20deg, 0);
  display: flex;
  justify-content: center;
  span {
    transform: skew(20deg, 0);
  }

  &-application {
    font-weight: 24px;
    margin-top: 50px;
    width: 500px;
    height: 60px;
    color: red;
    background-color: white;
  }
}

.govno {
  margin-top: -171px;
}

.btn-build {
  font-family: "circe-bold";
  font-size: 22px;
  line-height: 24px;
  color: white;
  background-color: red;
  width: 357px;
  height: 74px;
  border-radius: 4px;
  transform: skew(-20deg, 0);
  display: flex;
  justify-content: center;
  span {
    transform: skew(20deg, 0);
    margin-top: 11px;
  }

  &-application {
    font-weight: 24px;
    margin-top: 50px;
    width: 450px;
    height: 60px;
    color: red;
    background-color: white;
  }
}

.inner {
  .stickey {
    z-index: 15;
    position: fixed;
    right: 18%;
    bottom: 2%;
  }
}
