@font-face {
  font-family: "Circe";
  src: url("/src/fonts/Circe/Circe/circe.eot");
  src: url("/src/fonts/Circe/Circe/Circe.eot?#iefix")
      format("embedded-opentype"),
    url("/src/fonts/Circe/Circe/Circe.woff") format("woff"),
    url("/src/fonts/Circe/Circe/Circe.ttf") format("truetype"),
    url("/src/fonts/Circe/Circe/Circe.svg") format("svg");
}

@font-face {
  font-family: "Circe-bold";
  src: url("/src/fonts/Circe/Circe-bold/circe_bold.eot");
  src: url("/src/fonts/Circe/Circe-bold/circe_bold.eot?#iefix")
      format("embedded-opentype"),
    url("/src/fonts/Circe/Circe-bold/circe_bold.woff") format("woff"),
    url("/src/fonts/Circe/Circe-bold/circe_bold.ttf") format("truetype"),
    url("/src/fonts/Circe/Circe-bold/circe_bold.svg") format("svg");
}

@font-face {
  font-family: "Circe-extrabold";
  src: url("/src/fonts/Circe/Circe-extrabold/circe_extrabold.eot");
  src: url("/src/fonts/Circe/Circe-extrabold/circe_extrabold.eot?#iefix")
      format("embedded-opentype"),
    url("/src/fonts/Circe/Circe-extrabold/circe_extrabold.woff") format("woff"),
    url("/src/fonts/Circe/Circe-extrabold/circe_extrabold.ttf")
      format("truetype"),
    url("/src/fonts/Circe/Circe-extrabold/circe_extrabold.svg") format("svg");
}
