.back1200 {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100%;
  bottom: 0px;
  display: none;
}
.normaly {
  padding-top: 465px;
}

.case-footer {
  position: relative;
  padding-top: 100px;
  z-index: -3;
}
.img-footer {
  width: 100%;
  position: absolute;
  z-index: -3;
  bottom: 0px;
}

.footer-dev {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: white;
  opacity: 0.8;
}

.footer-info {
  padding-top: 292px;
}

.footer-img {
  width: 22px;
  height: 22px;
}

.maven {
  font-family: "Circe-bold";
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: white;
}

.footer-date {
  font-size: 12px;
  color: white;
  margin-bottom: 0px;
}
.footer-end {
  margin: -4px 0 -18px 0;
}

.end {
  position: relative;
}

.bottom_1200 {
  color: white;
  justify-content: center;
  display: none;
  .col-12 {
    p {
      margin-bottom: 0px;
      font-size: 20px;
      text-align: center;
    }
  }
  .col-8 {
    p {
      font-size: 20px;
      text-align: center;
    }
  }
}
