.header {
  &-logo {
    margin-top: 40px;
  }
  &-image {
    position: absolute;
    max-width: 1032px;
    z-index: -11;
    margin: 87px 0 0 -106px;
  }
  &-content {
    text-align: end;
    color: black;
    margin: 45px 0 0 0px;
  }
  &-titel {
    flex-direction: row;
    h2 {
      font-size: 36px;
      line-height: 70px;
      text-align: right;
      color: red;
    }
    ul {
      font-size: 53px;
      line-height: 55px;
      text-align: right;
      font-weight: bold;
      list-style-image: url(/src/img/Marker.png);
      li {
        margin: 20px 0 15px 0;
      }
      .tochka {
        display: flex;
        justify-content: flex-end;
        .class1 {
          margin-right: 20px;
        }
      }
    }
  }
}
.call {
  flex-direction: column;
  text-align: right;
  text-align: end;
  // max-width: 21.6%;
  p {
    color: black;
    margin: 0px;
  }
  .number {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.4px;
  }
  .call-text {
    text-decoration: underline;
    font-size: 16px;
  }
}

.btn-header {
  margin-top: 50px;
  span {
    margin-top: 18px;
  }
}
