@media (max-width: 1740px) {
  .builder {
    margin-right: -85px;
  }

  .triangle-builder-top {
    border-top: 1433px solid transparent;
  }

  .normaly {
    padding-top: 450px;
  }
  .footer-info {
    padding-top: 260px;
  }
}
@media (max-width: 1560px) {
  .builder {
    margin-right: -160px;
  }
  .triangle {
    &-builder-top {
      border-top: 1398px solid transparent;
    }
    &-carousel {
      border-left: 300px solid transparent;
      border-bottom: 1117px solid red;
    }
  }
  .footer-info {
    padding-top: 200px;
  }
}
@media (max-width: 1440px) {
  .triangle {
    &-header-down {
      border-right: 168px solid transparent;
    }
    &-carousel {
      display: none;
    }
  }
  .rain-box {
    margin-right: -230px;
  }
  .govno {
    margin-top: -163px;
  }
  .builder {
    margin-right: -233px;
  }
  .triangle-carousel {
    margin-top: -1300px;
  }
  .img-left {
    margin-left: -190px;
  }
  .img-right {
    margin-right: -300px;
  }
  .triangle-builder-top {
    border-top: 1374px solid transparent;
  }
  .footer-info {
    padding-top: 150px;
  }
}
@media (max-width: 1330px) {
  .footer-info {
    padding-top: 70px;
  }
  .top-mar {
    margin-top: 0px;
  }
  .order-box {
    padding: 0px;
  }
  .titel-modal {
    font-size: 34px;
  }
}
@media (max-width: 1200px) {
  .rectangle-skills {
    width: 114%;
  }
  .skills {
    .one {
      margin-top: 191px;
    }
    .two {
      margin-top: 230px;
    }
    .three {
      margin-top: 270px;
    }
  }
  .services-text {
    margin-top: -22px;
    margin-bottom: 22px;
  }

  .builder-list {
    margin: 133px 0 0 70px;
  }
  .builder-list {
    margin: 190px 0 0 168px;
  }
  .ka1 {
    display: none;
  }
  .ka2 {
    display: block;
  }
  .bul {
    height: 800px;
  }
  .rectangle-builder {
    margin-top: -66px;
    width: 150%;
  }
  .triangle-builder-top {
    display: none;
  }
  .catalog-titel {
    margin-top: 0px;
  }

  .application {
    &-box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .line {
      &::after {
        width: 88%;
      }
    }
  }
  .product {
    .item {
      &-img {
        margin-left: 0px;
      }
      &-btn {
        width: 110px;
      }
    }
    .price {
      &-ru {
        font-size: 15px;
      }
      &-eu {
        font-size: 12px;
      }
    }
  }
  .bottom-catalog-link {
    width: 31%;
  }
  .owl {
    &-next {
      img {
        margin: 0 187px;
      }
    }
  }
  .catalog-left-nav {
    font-size: 18px;
  }
  .img-footer {
    display: none;
  }
  .back1200 {
    display: block;
  }
  .bottom_1200 {
    display: flex;
    justify-content: center;
  }
  .invisible-footer {
    display: none;
  }
  .footer-info {
    padding-top: 130px;
  }
  .modal-button-buy {
    width: 298px;
  }
  .guarantee {
    margin-left: 7%;
    font-size: 15px;
  }
  .order {
    font-size: 15px;
    text-align: center;
  }
  .modal-button-kol {
    width: 60px;
  }
  .modal-img {
    margin-left: 10%;
  }
  .haracteristics_collapse {
    p {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
@media (max-width: 1024px) {
  .top-info {
    align-items: center;
  }

  .rain-box {
    display: none;
  }
  .header-image {
    opacity: 0.4;
  }
  .product {
    .kasha {
      padding-left: 10px;
    }
  }
  .product .item-img {
    margin-left: -15px;
    max-width: 100%;
  }
  .hadle {
    top: 164px;
    padding-left: 21px;
  }
}
@media (max-width: 992px) {
  .call {
    text-align: center;
  }
  .header {
    &-left-image {
      display: none;
    }
    &-info {
      justify-content: center;
    }
    &-image {
      margin: 87px 0 0 183px;
    }
    &-logo {
      margin-left: -78px;
      width: 400px;
    }
    &-content {
      h2 {
        font-size: 47px;
      }
    }
  }
  .tochka {
    justify-content: flex-start !important;
    margin-top: 20px;
    .class2 {
      text-align: start;
    }
  }
  .button_row {
    justify-content: center;
  }
  .triangle-services-right {
    margin-top: 140px;
  }
  .rectangle-header {
    display: none;
  }
  .warning-row {
    p {
      font-size: 17px;
      line-height: 25px;
    }
  }
  .rectangle-skills {
    height: 215px;
    width: 109%;
  }
  .skills {
    margin-top: 0px !important;
    .one {
      margin-top: 259px;
    }
    .two {
      margin-top: 293px;
    }
    .three {
      margin-top: 349px;
    }
  }
  .services-text {
    margin-top: 75px;
  }
  .builder {
    margin-top: -80px;
    &-list {
      margin: 170px 0 0 25px;
    }
  }
  .catalog-titel h3 {
    font-size: 36px;
    line-height: 52px;
  }

  .hadle {
    top: 183px;
    padding: 0px;
  }
  .price {
    top: 142px;
  }
  .nav-catalog-link {
    width: 30%;
  }
  .pluse {
    margin-top: 0px;
  }

  .bottom-catalog-link {
    width: 31%;
  }

  .catalog-left-nav {
    line-height: 23px;
    font-family: "circe-bold";
  }
  .item {
    &-img {
      margin-left: 0px;
    }
    &-btn {
      margin-left: 12%;
    }
    .product-inf {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    .text {
      font-size: 12px;
    }
    .price {
      &-ru {
        font-size: 21px;
      }
      &-eu {
        font-size: 19px;
        margin: -9px 0 5px 0;
      }
    }
  }

  .owl {
    &-nav {
      img {
        display: none;
      }
    }
    &-prev {
      img {
        display: none;
      }
    }
  }

  .rectangle-carousel {
    width: 100%;
    margin: 104px 0 0 0;
    height: 774px;
    transform: rotate(0deg);
    position: absolute;
  }
  .carousel-container {
    margin-top: 0;
  }
  .art {
    font-size: 17px;
    line-height: 26px;
  }
  .modal-button-buy {
    width: 90%;
  }
  .modal-button-kol {
    width: 30%;
  }
  .modal-img {
    margin-left: 0%;
  }
  .price {
    &-ru-modal {
      font-size: 26px;
    }
    &-eu-modal {
      font-size: 20px;
    }
  }
  .guarantee {
    margin-left: 0;
    font-size: 14px;
  }
  .carousel-title {
    margin-top: 135px;
  }
}
@media (max-width: 885px) {
  .rectangle-catalog {
    width: 116%;
  }
  .modal-right {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .modal-image {
    display: none;
  }
  .modal-image-885 {
    display: block;
    text-align: center;
  }
  .modal-body {
    margin-top: 0;
    .close-box {
      margin: 0 4% 0 0;
    }
  }
  .modal-right {
    margin-left: 0;
    text-align: center;
  }
  .note {
    &-title {
      margin-top: 35px;
      font-size: 25px;
    }
    &-text {
      font-size: 24px;
    }
  }
  .Description {
    margin-top: 35px;
    font-size: 25px;
    &-text {
      font-size: 24px;
    }
  }
  .order {
    text-align: right;
  }
  .guarantee {
    margin-left: 12px;
  }
  .modal-button-buy {
    margin-left: 7px;
  }
  .modal-two-button {
    flex-direction: column;
    align-items: center;
    .btn-groupe {
      flex-direction: row;
    }
  }

  .modal-all-info {
    flex-direction: column;
    align-items: center;
  }
  .price-modal {
    margin: 0;
  }
  .price-box {
    justify-content: center;
    .price-modal {
      justify-content: center;
    }
  }

  .modal-btn-two {
    margin-top: 20px;
  }
  .collapse-one {
    display: none;
  }
  .collapse-two {
    display: block;
    .full {
      display: flex;
      justify-content: center;
    }
  }
  .top-mar {
    margin: 0;
  }
  .collapse-flex {
    justify-content: center;
  }
  .card .col-first {
    margin-left: 0px;
  }

  .card .col-two {
    margin-left: 0px;
  }
  .haracteristics {
    padding: 15px 0 15px 0;
    p {
      margin-top: 0px;
      font-size: 16px;
      line-height: 15px;
    }
  }
  .card-body {
    p {
      text-align: center;
    }
  }
}
@media (max-width: 768px) {
  .warning {
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 20px;
    }
  }
  .rectangle-skills {
    margin-top: 64px;
    width: 114%;
  }
  .skills {
    .one {
      margin-top: 254px;
    }
    .two {
      margin-top: 276px;
    }
    .three {
      margin-top: 308px;
    }
  }
  .services-text {
    margin-top: 24px;
  }
  .builder-list {
    margin: 171px 0 0 0px;
    font-family: "circe-bold";
    ul {
      margin-left: 10px;
      li {
        line-height: 44px;
        font-size: 18px;
      }
    }
  }
  .catalog-titel h3 {
    font-size: 31px;
  }
  .rectangle-catalog {
    width: 120%;
  }
  .pluse {
    p {
      line-height: 25px;
      font-size: 20px;
    }
    .price {
      top: 156px;
    }
    .car {
      top: 220px;
    }
  }
  .lal {
    margin-top: 295px;
  }
  .catalog-box {
    margin-top: 10px;
  }
  .nav-catalog-link {
    font-size: 17px;
    line-height: 22px;
    height: 57px;
  }
  .top-tab-content {
    margin-top: 40px;
  }
  #main-nav .catalog-line:nth-child(1n) {
    margin: 99px 0 0 0;
    height: 429px;
  }
  .tab-1 .catalog-line {
    height: 443px;
  }
  .tab-2 .catalog-line {
    height: 299px;
  }
  .tab-3 .catalog-line {
    height: 108px;
  }
  .content-catalog {
    .titel-box-catalog p {
      font-size: 25px;
      line-height: 24px;
    }
    .section-catalog p {
      font-size: 96px;
      line-height: 115px;
    }
    .label-catalog P {
      font-size: 23px;
      line-height: 38px;
    }
    .label-note-catalog P {
      font-size: 11px;
      line-height: 15px;
    }
    .text-catalog p {
      font-size: 14px;
      line-height: 19px;
    }
  }
  .bottom-catalog-link {
    width: 29%;
    font-size: 14px;
    height: 33px;
  }
  .product {
    .text-titel {
      margin-top: 19px;
      font-size: 14px;
      line-height: 19px;
    }
    .text {
      line-height: 16px;
      margin-bottom: 5px;
    }
    .name {
      margin-bottom: 5px;
    }
    .item {
      .price-ru {
        margin-bottom: 0px;
      }
      .price-eu {
        font-size: 19px;
        padding-left: 9px;
        margin: 4px;
      }
      &-btn {
        margin-left: 12%;
      }
    }
  }
  .catalog-left-nav {
    font-size: 14px;
    line-height: 18px;
  }
  .nav-catalog-left {
    height: 88px;
  }
  .carousel {
    &-title {
      font-size: 47px;
      line-height: 50px;
      padding-top: 100px;
      margin-bottom: 0px;
    }
    &-text {
      margin-top: 31px;
      font-size: 19px;
      line-height: 29px;
    }
  }
  .owl-row {
    justify-content: center;
  }
  .bottom_1200 .col-12 p {
    font-size: 14px;
    margin-top: -18px;
  }
  .inner {
    display: none;
  }
  .price {
    &-modal {
      flex-direction: column;
    }
    &-ru-modal {
      text-align: center;
      line-height: 0px;
      margin-top: 18px;
    }
    &-eu-modal {
      text-align: center;
      margin: 0 0 0 11px;
    }
  }
}
@media (max-width: 576px) {
  .triangle {
    &-header-down {
      display: none;
    }
    &-services-right {
      margin-top: 170px;
      border-bottom: 255px solid transparent;
    }
  }
  .btn-header {
    margin-top: 27px;
  }
  .warning-row p {
    line-height: 18px;
  }
  .services {
    margin-top: -396px;
  }
  .skills {
    .one {
      margin-top: 208px;
    }
    .two {
      margin-top: 231px;
    }
    .three {
      margin-top: 259px;
    }
  }
  .rectangle-skills {
    height: 186px;
    width: 127%;
  }
  .rectangle-catalog {
    width: 140%;
  }
  .triangle-catalog-down {
    display: none;
  }
  .pluse {
    .price {
      top: 163px;
      img {
        margin-left: 10px;
        margin-top: -8px;
      }
    }
  }
  .header-content h2 {
    text-align: center;
  }
  .card .col-two {
    padding-left: 0px;
  }
  .haracteristics {
    p {
      text-align: center;
      font-size: 17px;
      line-height: 15px;
    }
  }
  .point-nav .active::after {
    display: none;
  }
  .adap_tive {
    .nav-catalog-link {
      width: 100%;
      margin: 10px 0 0 0 !important ;
      transform: skew(0, 0);
      span {
        transform: skew(0, 0);
      }
    }
  }
  #main-nav .catalog-line:nth-child(1n) {
    margin: 245px 0 0 0;
  }
}
@media (max-width: 525px) {
  .call .call-text {
    margin-top: -10px;
  }
  .warning {
    h2 {
      font-size: 36px;
    }
    p {
      line-height: 30px;
    }
  }
  .builder-list ul li {
    line-height: 37px;
    font-size: 16px;
  }
  .services-text p {
    line-height: 30px;
    margin-top: 30px;
  }
  .bul {
    margin-top: -100px;
  }
  .builder {
    margin-top: 23px;
    &-list {
      margin: 231px 0 0 0px;
    }
  }
  .catalog-titel h3 {
    font-size: 27px;
  }

  .catalog {
    margin-top: 300px;
  }
  .pluse {
    margin-top: -60px;
  }
  .lal p {
    font-size: 39px;
  }
  .nav-catalog-link {
    font-size: 14px;
    line-height: 16px;
  }
  .product .item-price {
    display: block;
  }
  .item .price-ru {
    margin-bottom: 0px;
  }
  .bottom-catalog-link {
    line-height: 15px;
  }
  .catalog-left-nav {
    margin-left: 15px;
    font-size: 13px;
    line-height: 17px;
  }
  .catalog-left-nav .active .rectangle-nav {
    margin: -51px 0 0 -22px;
  }
  .content-catalog .section-catalog {
    margin-left: -34px;
  }
  .catalog-tab-content {
    margin: 17px 0 0 25px;
  }
  .lal {
    margin-top: 282px;
  }
  .pluse p {
    font-size: 17px;
  }
  .catalog-titel h3 {
    line-height: 40px;
  }
  .header-titel ul {
    font-size: 46px;
    line-height: 55px;
  }

  .btn-header {
    margin-left: 0;
  }
  .btn-head {
    margin-left: 12px;
  }
  .catalog-skills {
    padding-top: 0px;
  }
  .btn-build-application {
    margin-left: 18px;
  }
  .app {
    margin: 4px 0 0 -4px;
  }
  .owl-carousel .owl-stage-outer {
    padding-left: 0;
  }
  .application-text .col-12 p {
    br {
      display: none;
    }
  }
  .btn-build-application {
    width: 90%;
  }
  .normaly {
    padding-top: 331px;
    margin-top: 100px;
  }
  .header-image {
    margin: 33% 0 0 23%;
  }
  .modal-img {
    width: 320px;
    height: 100%;
    margin-top: 17px;
  }
  .titel-modal {
    margin-top: 13px;
    font-size: 25px;
    line-height: 35px;
  }
  .note-title {
    margin-top: 13px;
    font-size: 23px;
  }
  .note-text {
    font-size: 16px;
  }
  .Description {
    margin-top: 16px;
    font-size: 23px;
  }
  .Description-text {
    font-size: 16px;
  }
  .art {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 0px;
  }
  .haracteristics p {
    font-size: 15px;
    line-height: 9px;
  }
  .Description P {
    font-size: 13px;
    line-height: 17px;
  }

  .Documents p {
    font-size: 13px;
    line-height: 20px;
  }
  .or_der {
    max-width: 140%;
  }
}
@media (max-width: 470px) {
  .catalog {
    margin-top: 233px;
  }
  .lal {
    margin-top: 184px;
  }
  .label {
    &-catalog {
      display: none;
    }
    &-note-catalog {
      display: none;
    }
  }
  .text {
    &-catalog {
      display: none;
    }
    &-titel {
      display: none;
    }
  }
  .rectangle-catalog {
    transform: rotate(90deg);
    width: 302px;
    height: 820px;
    margin-left: 0;
    top: -54%;
  }
  .pluse {
    margin-top: 22px;
    flex-direction: column;
    align-items: center;
    p {
      line-height: 20px;
    }
    .price {
      top: 50px;
      margin-right: 24px;
    }
    .hadle {
      top: 80px;
    }
    .car {
      padding-left: 0;
      margin-top: 0;
      top: 120px;
    }
  }
  .catalog-titel h3 {
    font-family: "circe-extrabold";
    font-size: 21px;
    line-height: 30px;
  }
  .rectangle-skills {
    height: 644px;
    width: 298px;
    margin: -150px 0 0 0;
    transform: rotate(90deg);
  }
  .skills {
    flex-direction: column;
    align-items: center;
    .col-4 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .one {
      margin-top: -12px;
      flex-direction: row;
      display: flex;
      img {
        margin: 0;
      }
      .ser-text {
        p {
          margin: 28px 0 0 14px;
          br {
            display: none;
          }
        }
      }
    }
    .two {
      margin-top: 15px;
      flex-direction: row;
      display: flex;
      .ser-text {
        p {
          margin: 10px 0 0 2px;
        }
      }
    }
    .three {
      margin-top: 15px;
      flex-direction: row;
      display: flex;
      .ser-text {
        p {
          margin: 17px 0 0 2px;
        }
      }
    }
  }
  .warning {
    margin-top: 90px;
    h2 {
      line-height: 46px;
      font-size: 41px;
    }
  }
  .catalog-titel {
    margin-top: 26px;
  }
  .header-content h2 {
    font-size: 40px;
    font-weight: 700;
  }
  .header-logo {
    margin-left: 0px;
    width: 100%;
  }
  .top-info {
    .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .services {
    margin-top: -436px;
  }
  .header-titel {
    ul {
      font-size: 41px;
      line-height: 50px;
    }
  }
  .btn-head {
    width: 90%;
  }
  .product {
    &-inf {
      margin-left: -20px;
    }
    .kasha {
      padding-left: 16%;
    }
    .item-img {
      max-width: 100%;
      margin-left: 0;
    }
  }
  .item {
    margin-left: 25%;
    flex: 0 0 66.66%;
    max-width: 66.66%;
    &-btn {
      margin-left: 0;
    }
    .price-ru {
      margin-left: 15px;
    }
  }
  .haracteristics p {
    font-size: 12px;
    line-height: 6px;
  }
  .guarantee {
    font-size: 15px;
    line-height: 18px;
    margin-top: 4px;
  }
  .min_screen {
    display: none;
  }
  .tab-2 .nav-catalog-left {
    width: 122px;
  }
}
@media (max-width: 426px) {
  .header {
    &-content {
      margin: 10px 0 0 0;
      h2 {
        font-size: 30px;
      }
    }
    &-titel ul {
      font-size: 26px;
      line-height: 33px;
    }
    &-image {
      margin: 26% 0 0 20%;
      height: auto;
      width: 507px;
    }
  }
  .pluse {
    .col-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    p {
      font-size: 19px;
      line-height: 19px;
    }
    .hadle {
      margin-top: 10px;
    }
    .car {
      top: 127px;
    }
  }

  .nav-catalog-link {
    font-size: 16px;
    line-height: 15px;
    height: 42px;
  }
  .content-catalog {
    .titel-box-catalog p {
      font-size: 17px;
    }
    .section-catalog p {
      font-size: 60px;
      line-height: 100px;
    }
  }

  #main-nav :nth-child(2n) {
    margin: 0px 10px;
  }
  .bottom-catalog-link {
    font-size: 12px;
  }
  .lal p {
    font-size: 30px;
    padding-left: 15px;
  }
  .item-btn {
    margin-left: 22%;
  }
  #main-nav .catalog-line:nth-child(1n) {
    margin: 191px 0 0 0;
    height: 385px;
  }
  .tab-1 .catalog-line {
    height: 400px;
  }
  .tab-2 .catalog-line {
    height: 268px;
  }
  .tab-3 .catalog-line {
    height: 105px;
  }

  .top-tab-content {
    margin-top: 22px;
  }
  .nav-catalog-left {
    height: 80px;
    font-size: 11px;
    line-height: 16px;
  }
  .services-text p {
    line-height: 25px;
    font-size: 17px;
  }
  .rectangle-catalog {
    width: 331px;
  }
  .builder-list ul li {
    line-height: 32px;
    font-size: 15px;
  }
  .application-text p {
    font-size: 26px;
    line-height: 38px;
  }
  .rec {
    img {
      height: 1000px;
    }
  }
  .application-box {
    margin-top: -66px;
  }
  .owl-carousel {
    display: none;
    width: 123%;
  }
  .haracteristics {
    p {
      font-size: 11px;
    }
  }
  .titel-modal {
    margin-top: 11px;
    font-size: 18px;
    line-height: 30px;
  }
  .art-box {
    max-width: 100%;
  }
  .collapse-two {
    padding-left: 0px;
  }
  .catalog-titel {
    margin-top: -4px;
  }
}
@media (max-width: 393px) {
  .catalog-titel {
    margin-top: 0px;
    h3 {
      font-size: 19px;
      line-height: 25px;
    }
  }
  .catalog-left-nav .active .rectangle-nav {
    margin: -43px 0 0 -22px;
    border-left: 16px solid red;
    height: 16px;
  }
  .haracteristics p {
    font-size: 11px;
  }
}
@media (max-width: 370px) {
  .content-catalog .model-catalog p {
    font-size: 19px;
    line-height: 22px;
  }
  .nav-catalog-link {
    font-size: 14px;
    line-height: 13px;
  }
  .lal {
    padding-left: 15px;
    p {
      font-size: 34px;
      padding-left: 15px;
      line-height: 34px;
    }
  }
  .bottom-catalog-link {
    font-size: 10px;
  }
  .content-catalog .titel-box-catalog p {
    font-size: 15px;
  }
  .catalog {
    margin-top: 197px;
  }
  .services p {
    font-size: 20px;
    line-height: 28px;
  }
  .warning {
    margin-top: 120px;
  }
  .header-content h2 {
    font-size: 28px;
  }
  .header-image {
    margin: 26% 0 0 26%;
    height: auto;
    width: 483px;
  }
  .ser-text {
    p {
      font-size: 17px;
      line-height: 18px;
    }
  }
  .carousel-title {
    font-size: 42px;
    line-height: 46px;
    padding-top: 78px;
  }
  .carousel-text {
    margin-top: 31px;
    font-size: 15px;
    line-height: 26px;
  }
  .normaly {
    padding-top: 355px;
  }
  .haracteristics {
    p {
      font-size: 9px;
      line-height: 2px;
    }
  }
  .modal-img {
    width: 276px;
  }
}
@media (max-width: 321px) {
  #main-nav :nth-child(2n) {
    margin: 0px 7px;
  }
  .nav-catalog-link {
    line-height: 10px;
  }
  .content-catalog .titel-box-catalog p {
    font-size: 14px;
  }
  .product .item-btn {
    margin-left: 0%;
  }
}
