.modal-xl {
  max-width: 1440px;
}
.modal-top {
  margin-right: 0px;
}

.modal-body {
  margin-top: 100px;
  .close-box {
    margin: -45px 10px 0 0;
  }
  .close {
    margin-top: -14px;
    font-size: 34px;
  }
  .close-text {
    margin: 0px 2px 0 0;
    font-family: "Circe";
    font-size: 18px;
    line-height: 25px;
  }
}

.modal-img {
  width: 410px;
  height: 445px;
  margin-top: 60px;
}

.titel-modal {
  margin-top: 45px;
  font-size: 36px;
  line-height: 40px;
  color: red;
  font-family: "circe-bold";
}
.note {
  &-title {
    font-size: 18px;
    line-height: 27px;
    font-family: "circe-bold";
  }

  &-text {
    font-size: 16px;
    line-height: 22px;
  }
}

.Description {
  font-size: 18px;
  line-height: 27px;
  font-family: "circe-bold";

  P {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  &-text {
    font-size: 16px;
    line-height: 22px;
  }
}
.art {
  font-size: 22px;
  line-height: 32px;
  font-family: "circe-bold";
}

.order {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: red;
  font-family: "Circe-extrabold";
}

.guarantee {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.price {
  &-ru-modal {
    font-size: 28px;
    line-height: 41px;
    text-align: left;
    font-family: "circe-bold";
  }

  &-eu-modal {
    font-size: 22px;
    line-height: 32px;
    text-align: left;
    color: #7b7b7b;
    margin: 7px 0 0 11px;
  }
  &-modal {
    margin: 0 0 0 42%;
  }
}

.order-box {
  padding-left: 0px;
}

.modal-button-buy {
  font-family: "circe-bold";
  font-size: 22px;
  line-height: 24px;
  background-color: red;
  width: 369px;
  height: 58px;
  border-radius: 4px;
  transform: skew(-20deg, 0);
  display: flex;
  justify-content: center;
  text-align: center;
  span {
    color: white;
    margin: auto;
    transform: skew(20deg, 0);
    margin: 9px;
  }
}

.modal-button-kol {
  margin-left: -2px;
  font-family: "circe-bold";
  font-size: 22px;
  line-height: 24px;
  background-color: white;
  width: 67px;
  height: 58px;
  border-radius: 1px;
  border-color: #c4c4c4;
  transform: skew(-20deg, 0);
  display: flex;
  justify-content: center;
  text-align: center;
  span {
    color: black;
    margin: auto;
    transform: skew(20deg, 0);
    margin: 9px;
  }
}

.btn-center {
  background: #c4c4c4;
}

.collapse-box {
  .btn-primary {
    color: none;
    background-color: none;
    border-color: none;
    &:hover {
      background-color: none;
      border-color: none;
    }
    &:active {
      color: none;
      background-color: none;
      border-color: none;
    }
  }
  .btn:focus {
    box-shadow: none;
  }
  .title-collapse {
    position: relative;
    margin-top: 15px;
    font-family: "circe-bold";
    color: red;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
  }
  .arrow1 {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 10px;
      background-color: red;
      margin: 19px auto 20px 18px;
      bottom: 0;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 10px;
      background-color: red;
      margin: 19px auto 20px 129px;
      bottom: 0;
      transform: rotate(-45deg);
    }
    &:focus {
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
  .arrow2 {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 10px;
      background-color: red;
      margin: 19px auto 20px 18px;
      bottom: 0;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 10px;
      background-color: red;
      margin: 19px auto 20px 143px;
      bottom: 0;
      transform: rotate(-45deg);
    }
    &:focus {
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
  .arrow3 {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 10px;
      background-color: red;
      margin: 19px auto 20px 18px;
      bottom: 0;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 10px;
      background-color: red;
      margin: 19px auto 20px 93px;
      bottom: 0;
      transform: rotate(-45deg);
    }
    &:focus {
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
.btn-groupe {
  margin-left: 11px;
}

.card {
  border: none;
  .col-first {
    margin-left: -9px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
}

.haracteristics {
  p {
    margin-top: -17px;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
  }
}

.Documents {
  text-decoration: underline;
  padding: 11px;
  p {
    font-size: 18px;
    line-height: 27px;
    text-align: left;
  }
  .download-doc1 {
    color: #7b7b7b;
    margin-top: -10px;
  }
  .download-doc2 {
    color: #7b7b7b;
    margin-top: -10px;
  }
}

.top-mar {
  margin: -35px 0 0 42px;
}

.modal-img {
  margin-left: 30%;
}

.modal-right {
  margin-left: 8%;
}
.modal-image-885 {
  display: none;
}
.collapse-two {
  display: none;
}
