.services {
  margin-top: -450px;
  text-align: left;

  h2 {
    font-weight: 700;
  }

  p {
    font-family: "circe";
    margin-top: 35px;
  }

  .skills {
    margin-top: -471px;
  }
}

.warning {
  margin-top: 203px;
  text-align: center;

  h2 {
    font-size: 42px;
    line-height: 67px;
    font-weight: 700;
  }

  p {
    font-size: 24px;
    line-height: 33px;
    margin-top: 10px;
  }
}

.warning-row {
  img {
    max-width: 130px;
    max-height: 221px;
  }

  p {
    color: white;
    font-size: 30px;
    line-height: 42px;
  }
}

.one {
  margin-top: 181px;
  img {
    margin-left: 29px;
  }
  p {
    margin: -35px 0 0 29px;
  }
}

.two {
  margin-top: 233px;
  p {
    margin-top: -35px;
  }
}

.three {
  margin-top: 310px;
  p {
    margin-top: -35px;
  }
}

.services-text {
  margin-top: 22px;
}
